node\*modules/
.env
.env.\*
android/
apps/api
apps/client
apps/client-new
apps/mobile


<!-- apps/mobile-new/.expo -->

.expo/
dist/
npm-debug.\*
\*.jks
_.p8
_.p12
_.key
_.mobileprovision
\_.orig.\*
web-build/

# macOS

.DS_Store

# Temporary files created by Metro to check the health of the file watcher

.metro-health-check\*

# Dependency directories should be ignored by git

<!-- google-services.json -->

dist/
